@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #183b56;
  
}
html {
  scroll-behavior: smooth;
}

body {
  /* background: #62636b; */
  
}

@layer components {
  .editor-btn {
    @apply flex justify-center items-center text-slate-700 rounded-lg w-8 aspect-square;
  }

  .active-editor-btn {
    @apply text-slate-800 bg-slate-200;
  }
}

/* Border glow effect for dark mode */
@layer utilities {
  .border-glow {
    border: 1px solid;
    border-color: transparent;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.15);
  }
}

/* Custom with of Tiptap container */
.editor-container {
  max-width: 650px; 
  width: 100%; 
  /* margin: 0 auto;  */
}

/* TipTap color customization for dark mode */
/* .prose-dark {
  --tw-prose-body: #e5e7eb;
  --tw-prose-headings: #e5e7eb;
  --tw-prose-links: #3b82f6;
  --tw-prose-bold: #e5e7eb;
  --tw-prose-counters: #e5e7eb;
  --tw-prose-bullets: #e5e7eb;
  --tw-prose-hr: #e5e7eb;
  --tw-prose-quotes: #e5e7eb;
  --tw-prose-quote-borders: #e5e7eb;
  --tw-prose-captions: #e5e7eb;
  --tw-prose-code: #e5e7eb;
  --tw-prose-pre-code: #e5e7eb;
  --tw-prose-pre-bg: #fff;
  --tw-prose-th-borders: #e5e7eb;
  --tw-prose-td-borders: #e5e7eb;
}

.prose-dark h1,
.prose-dark h2,
.prose-dark h3,
.prose-dark h4,
.prose-dark h5,
.prose-dark h6 {
  color: #e5e7eb;
} */
