@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #183b56;
  
}
html {
  scroll-behavior: smooth;
}

body {
  /* background: #62636b; */
  
}

@layer components {
  .editor-btn {
    @apply flex justify-center items-center text-slate-700 rounded-lg w-8 aspect-square;
  }

  .active-editor-btn {
    @apply text-slate-800 bg-slate-200;
  }
}

/* Border glow effect for dark mode */
@layer utilities {
  .border-glow {
    border: 1px solid;
    border-color: transparent;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.15);
  }
}

/* Custom with of Tiptap container */
.editor-container {
  max-width: 800px; 
  width: 100%; 
  /* margin: 0 auto;  */
}
